/* -------------------
            11. Responsive (Media queries)
----------------------------------------------- */

/* -------- 11.1 Large devices (desktops) ----------- */
/* -------- (desktops, 992px and up) ------- */

@media (min-width: 992px) and (max-width: 1199.99px) { 

    .container {
        width: 95%;
    }

    header {
        padding: 96px 0;
    }

    .header-container {
        flex-direction: column-reverse;
    }

    .header-title {
        font-size: 56px;
    }

    .header-img img {
        width: 65%;
        display: block;
        margin: 0 auto;
    }


    .hot-deal-container {
        flex-direction: column-reverse;
    }


    .advertise-container {
        flex-direction: column;
        gap: 56px;
    }


    .advertise-info {
        text-align: center;
    } 

    .advertise-img img {
        width: 318px;
        height: auto;
    }


    .action-container {
        padding: 126px 156px;
    }
    
}



/* -------- 11.2 Medium devices (tablets) ------ */
/* -------- (tablets, 768px and up) ------------------ */

@media (min-width: 768px) and (max-width: 991.99px) { 
    .container {
        width: 80%;
    }

    header {
        padding: 96px 0;
    }

    .header-container {
        flex-direction: column-reverse;
    }

    .header-title {
        font-size: 56px;
    }

    .header-img img {
        width: 65%;
        display: block;
        margin: 0 auto;
    }


    .features-container {
        flex-direction: column;
    }

    .features-content-box {
        width: 100%;
    }


    .hot-deal-container {
        flex-direction: column-reverse;
    }


    .advertise-container {
        flex-direction: column;
        gap: 56px;
    }


    .advertise-info {
        text-align: center;
    } 

    .advertise-img img {
        width: 318px;
        height: auto;
    }


    .action-container {
        padding: 126px 156px;
    }

    .instagram-container {
        flex-direction: column;
    }

    .action-container {
        padding: 126px 0;
    }


}



/* -------- 11.3 Small devices (landscape phones) ------ */
/* -------- (landscape phones, 576px and up) --------------- */
@media (min-width: 576px) and (max-width: 767.99px) { 
    .container {
        width: 96%;
    }

    .container {
        width: 80%;
    }

    header {
        padding: 96px 0;
    }

    .header-container {
        flex-direction: column-reverse;
    }

    .header-title {
        font-size: 56px;
    }

    .header-img img {
        width: 65%;
        display: block;
        margin: 0 auto;
    }


    .features-container {
        flex-direction: column;
    }

    .features-content-box {
        width: 100%;
    }


    .hot-deal-container {
        flex-direction: column-reverse;
    }


    .advertise-container {
        flex-direction: column;
        gap: 56px;
    }


    .advertise-info {
        text-align: center;
    } 

    .advertise-img img {
        width: 318px;
        height: auto;
    }


    .action-container {
        padding: 126px 156px;
    }

    .instagram-container {
        flex-direction: column;
    }

    .action-container {
        padding: 126px 0;
    }
}



/* -------- 11.4 Extra small devices (portrait phones) ------ */
/* -------- (portrait phones, less than 576px) ------- */
@media (max-width: 575.99px) { 
    .container {
        width: 86%;
        margin: 0 auto;
    }

    .container {
        width: 80%;
    }

    header {
        padding: 96px 0;
    }

    .header-container {
        flex-direction: column-reverse;
    }

    .header-title {
        font-size: 56px;
    }

    .header-img img {
        width: 65%;
        display: block;
        margin: 0 auto;
    }


    .features-container {
        flex-direction: column;
    }

    .features-content-box {
        width: 100%;
    }


    .hot-deal-container {
        flex-direction: column-reverse;
    }


    .advertise-container {
        flex-direction: column;
        gap: 56px;
    }


    .advertise-info {
        text-align: center;
    } 

    .advertise-img img {
        width: 318px;
        height: auto;
    }


    .action-container {
        padding: 126px 156px;
    }

    .instagram-container {
        flex-direction: column;
    }

    .action-container {
        padding: 126px 0;
    }
}